<nav class="navbar navbar-default">
  	<ul class="nav navbar-nav">
      <a class="navbar-brand" href="http://localhost:3000">BEER</a>
      <li><%= link_to "Beers", beers_path %></li>
      <li><%= link_to "Breweries", breweries_path %></li>
      <li><%= link_to "Countries", countries_path %></li>
      <li><%= link_to "Styles", styles_path %></li>
    </ul> 
  </nav> 