
<div class="panel panel-custom-show">
  <div class="panel-heading"><strong><center><h1><%= @title %></h1></center></strong></div>
  </div>
<div class="panel panel-custom-show">
  <div class="panel-heading"><strong><center>Recently added</center></strong></div>
	<table class="table table-responsive">

		<tbody>
			<%= render 'beer' %>
		</tbody>
	</table>
</div>