<div class="well well-sm well-bgr"><h3>Styles 
<% if logged_in? %>
<%= link_to 'Add new style', new_style_path, class: 'btn btn-sm btn-primary' %></h3>
<% end %>
</div>
<div class="panel panel-default">  
  <div class="panel-heading"><strong>Style details</strong></div>  
  <table class="table table-hover table-striped">	
		<thead>
			<tr>
		    <th>Name</th>
		    <th><center>Total Beers</center></th>
		    <% if logged_in? %>
		    <th>Actions</th>
		    <% end %>
			</tr>
		</thead>
		<tbody>
			<%= render @styles.order(name: :asc) %>
		</tbody>
	</table>
	<div class="apple_pagination">  
		<div class="top"><%= page_entries_info @styles %></div>   
    <center><%= will_paginate @styles %></center>
  </div>
</div>