	<div class="well well-sm well-bgr"><h3>Breweries 
	<% if logged_in? %>
	<%= link_to 'Add new brewery', new_brewery_path, class: 'btn btn-sm btn-primary' %></h3>
		<% end %>
  </div>
  
  <div class="panel panel-default">  
  	<table class="table table-hover table-striped">	
			<thead>
				<tr>
					<th></th>
		    	<th>Brewery</th>
		    	<th><center>Total Beers</center></th>
		    	<% if logged_in? %>
		    		<th>Actions</th>
		    	<% end %>
				</tr>
			</thead>
			<tbody>
				<%= render @breweries.order(name: :asc) %>
			</tbody>
		</table>
		<div class="apple_pagination">  
			<div class="top"><%= page_entries_info @breweries %></div> 
    	<center><%= will_paginate @breweries %></center>
  	</div>
  </div>
