<div class="media">
  <div class="media-left">
    <a href="#">
      <%= image_tag(@brewery.image, size: "350x350", alt: "Brewery") %>
    </a>
  </div>
  <div class="media-body">
    <div class="panel panel-primary">
      <div class="panel-heading">
        <h3 class="panel-title">Brewery</h3>
      </div>
      <div class="panel-body">
        <%= @brewery.name %>
      </div>
      <%= render 'beer' %>
    </div>
  </div>
</div>