	<div class="well well-sm well-bgr"><h3>Beers 
	<% if logged_in? %>
	<%= link_to 'Add new beer', new_beer_path, class: 'btn btn-sm btn-primary' %></h3>
		<% end %>
  </div>
  
  <div class="panel panel-default">  
  	<div class="panel-heading"><strong>Beer details</strong></div>  
  		<table class="table">	
				<thead>
					<tr>
						<th></th>
		    		<th>Name</th>
		    		<th><center>Quantity</center></th>
		    		<th><center>Country</center></th>
		    		<th>Brewery</th>
		    		<th><center>Style</center></th>
		    		<% if logged_in? %>
		    <th>Actions</th>
		    <% end %>
					</tr>
				</thead>
				<tbody>
					<%= render @beers.order(name: :asc) %>
				</tbody>
			</table>
<div class="apple_pagination">    
      <div class="top"><%= page_entries_info @beers %></div>

    <center><%= will_paginate @beers %></center>
  </div>